In [ ]:
#100daysofcodewithharrysummarycodes

Day 1 -Print statement

In [ ]:
print("hello world")
print("5")

hello world
5

Day 2- Importing libraries and modules

In [ ]:
import pandas
import hashlib
import tensorflow
print("hi")

hi

Day 3-How to install modules in python

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Day 4- Basic operations

In [ ]:
print('my name is siddhartha dhar',78)
print(5)
print('bye')
print(17*13)
print(13-9)
print(9/9)

my name is siddhartha dhar 78
5
bye
221
4
1.0

Day 5- Comments and escape operator

In [ ]:
'''comments write using the hash operator
#comment video
#hey,siddhartha dont remove the line of code please''' #multiline comments using triple single quotes
print("hello world") #printing hello world
print(19,"july", 2,sep="-",end="002\n")
print("siddhartha dhar")

hello world
19-july-2002
siddhartha dhar

Day 6- Variables and data types

In [ ]:
a=1
b=5
s=10
b="harryboi"
print(a,s,'-',b)

1 10 - harryboi

In [ ]:
a=1
c="Harry"
b=2
print(a+b)
print("the type of a is ",type(a))
print(type(c))
f=complex(8,5)
print(f)
list1=[8,2,[-4,5],["apple","banana"]]
print(list1)
tuple=['parrot','sparrow','crow']
print(tuple)
dict1={"name":'siddhartha',"age":"20","course":"B.TECH","eligibilty":True}
print(dict1)

3
the type of a is  <class 'int'>
<class 'str'>
(8+5j)
[8, 2, [-4, 5], ['apple', 'banana']]
['parrot', 'sparrow', 'crow']
{'name': 'siddhartha', 'age': '20', 'course': 'B.TECH', 'eligibilty': True}

Day 7 Calculator

In [ ]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)

25
5
30
20
125
5.0
9765625
0

Day 8- Solutions of calculator exercise

Day 9- Typecasting in python

In [ ]:
a="1"
b="2"
print(int(a)+int(b))
s="15"
b=7
p=int(s)
sum=b+p
print(sum)

3
22

Day 10- user input

In [ ]:
a=input()
print("my name is ",a)
b=int(input())
c=int(input())
print("the sum of two numbers is",b+c)

Sid
my name is  Sid
5
4
the sum of two numbers is 9

Day 11- Strings

In [ ]:
name="harry"
print(name[0])
n='lovish'
print(n[1])
apple='''hi i am sid
ddsvsdvrgvdsvd'''
print(apple)
print("lets use a for loop")
#looping in stings
for character in name:
  print(character)

h
o
hi i am sid
ddsvsdvrgvdsvd
lets use a for loop
h
a
r
r
y

Day 12- String Slicing and string operations

In [ ]:
names="harry,Siddhartha,saptorshee"
print(names[0:7])
print(names[0])
print(len(names))
print(names[:])
print(names[0:-3])
print(names[-5:-3])
print(names[-10:])
nm="harry"
print(nm[-4:-2])

harry,S
h
27
harry,Siddhartha,saptorshee
harry,Siddhartha,saptors
rs
saptorshee
ar

Day 13- String methods

In [ ]:
a="!!!!Siddhartha"
print(a.upper())
print(a.lower())
print(len(a))
#strings are immutable
print(a.rstrip('!'))
print(a.replace("Siddhartha","Saaheb"))
c="harry???"
print(c.capitalize())
print(a.count('Siddhartha'))
print(c.endswith('?'))
o="my name is fidunishaan, i am a student of SRM "
print(o.find('SRM'))
print(o.islower())
print(o.isprintable())
print(o.isspace())
print(o.swapcase())
print(o.title())

!!!!SIDDHARTHA
!!!!siddhartha
14
!!!!Siddhartha
!!!!Saaheb
Harry???
1
True
42
False
True
False
MY NAME IS FIDUNISHAAN, I AM A STUDENT OF srm
My Name Is Fidunishaan, I Am A Student Of Srm

Day 14- If else statements

In [ ]:
s=int(input("enter your age"))
print("your age is ",s)
if s>18:
  print("you can drive")
  print("yes")


else:
  print('no you cannot drive ')
  print("no")
print("driving should be practiced carefully ")

enter your age3
your age is  3
no you cannot drive
no
driving should be practiced carefully

In [ ]:
mangoprice=300
budget=800
if(budget-mangoprice<100):
  print("do not buy mango from the market")
elif(budget-mangoprice>250):
  print("its okay you can also buy ")
else:
  print("buy mangoes")

its okay you can also buy

In [ ]:
#nested if-else
n=17
if(n<0):
  print("number is negative")
elif(n>0):
  if(n<=10):
    print("number is between 1-10")
  if(n>10 and n<=20):
    print("number is between 11-20")
else:
  print("number is not in the range of 1-20")

number is between 11-20

Day 15- Time module

In [ ]:
import time
timestamp=time.strftime('%H:%M:%S')
print(timestamp)
timestamp=time.strftime('%H')
print(timestamp)
timestamp=time.strftime('%M')
print(timestamp)
timestamp=time.strftime('%S')
print(timestamp)

05:39:32
05
39
32

In [ ]:
import time
timestamp=time.strftime('%H:%M:%S')
hour=int(time.strftime("%H"))
print(hour)
if(hour>0 and hour<12):
  print("good morning sir")
elif(hour>12 and hour<16 ):
  print("good afternoon sir")
elif(hour>16 and hour<20):
  print("good evening sir")
else:
  print("good night sir")

5
good morning sir

Day 16-Match case statements

In [ ]:
x=int(input("enter the value of x"))
match x:
  case 0:
    print("x is zero")
  case 2:
    print("x is two")
  case 4:
    print("x is four")
  case default:
    print(x)

enter the value of x3
3

Day 17- For Loops

In [ ]:
for x in range(1,6):
  print(x)
name="sid"
for i in name:
    print(i)
    if(i=='i'):
      print("breaking bad")

1
2
3
4
5
s
i
breaking bad
d

In [ ]:
colors=["Green","red","yellow","Pink"]
for x in colors:
  print(x)
  for i in x:
    print(i)

for k in range(1,4):
    print(k+1)
print("***********")
for m in range(1,10,2):
   print(m)

Green
G
r
e
e
n
red
r
e
d
yellow
y
e
l
l
o
w
Pink
P
i
n
k
2
3
4
***********
1
3
5
7
9

Day 18- While loops

In [ ]:
k=0
while(k<5):
  print(k)
  k+=1
i=int(input('enter the number:'))
while(i<=38):
  i=int(input("enter the number"))
  print(i)
print("done with the loop")
count=5
while(count>0):
  print(count)
  count-=1

0
1
2
3
4
enter the number:3
enter the number6
6
enter the number42
42
done with the loop
5
4
3
2
1

In [ ]:
count=10
while(count>0):
  print(count)
  count-=1
else:
  print("i am done")

10
9
8
7
6
5
4
3
2
1
i am done

Day 19- break and continue

In [ ]:
for i in range(12):
  if(i==10):
      break
  print( "5 X",i+1,"=",5*(i+1))

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
i=0
while True:
  print(i)
  i+=1
  if(i%50==0):
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Day 20- Functions in python

In [ ]:
def calculategmean(a,b):
  mean=(a*b)/(a+b)
  print(mean)
def isgreater(a,b):
  if(a>b):
    print("first number is greater")
  else:
    print("second number is greater")
a=9
b=8
c=2
d=3
calculategmean(a,b)
isgreater(a,b)
calculategmean(c,d)
isgreater(c,d)
def lesser(a,b):
  pass             #pass means to pass the function and will write the code later

4.235294117647059
first number is greater
1.2
second number is greater

Day 21-Function arguments

In [ ]:
def average(a=9,b=1):
  print('the average is',(a+b)/2)
average(b=6,a=20)

the average is 13.0

In [ ]:
def average(*numbers):
  sum=0
  for i in numbers:
    sum+=i
    print("the average is:",sum/len(numbers))
average(5,2)

the average is: 2.5
the average is: 3.5

Day 22-Lists in python

In [ ]:
list1=['siddhartha','saptorshee','pradipto',34,89,65,67]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(type(list1))
if 34 in list1:
  print("haan bhai hai ye ")
else:
  print("no")
if "sid" in "siddhartha":
    print("naam bhi hai tera")
else:
  print("nahi bhai")
print(list1[1:3])
print(list1[1:-1])
print(list1[0:5:2])
print(len(list1))
x=[i*i for i in range(10) if i%2==0]
print(x)

siddhartha
saptorshee
pradipto
34
<class 'list'>
haan bhai hai ye
naam bhi hai tera
['saptorshee', 'pradipto']
['saptorshee', 'pradipto', 34, 89, 65]
['siddhartha', 'pradipto', 89]
7
[0, 4, 16, 36, 64]

Day 23- List methods

In [ ]:
list=[9,6,7,23,1,23,32,32]
list.append(4)
print(list)
list.reverse()
print(list)
print(list.index(1))
print(list.count(32))
list.insert(1,45)
print(list)
list1=[900,1000,1100]
list.extend(list1)
print(list)

[9, 6, 7, 23, 1, 23, 32, 32, 4]
[4, 32, 32, 23, 1, 23, 7, 6, 9]
4
2
[4, 45, 32, 32, 23, 1, 23, 7, 6, 9]
[4, 45, 32, 32, 23, 1, 23, 7, 6, 9, 900, 1000, 1100]

Day 24-Tuples

In [ ]:
tuple=(1,2,3,4,5,7,43,12,11)
print(tuple[1],tuple[3])
print(type(tuple))
print(tuple[-2])
if 3 in tuple:
  print("yes")
else:
  print("NO")
tuple2=tuple[1:4]
print(tuple2)

2 4
<class 'tuple'>
12
yes
(2, 3, 4)

Day 25- Operations on Tuples

In [ ]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
countries = tuple(temp)
print(countries)

TypeError: ignored

In [ ]:
c=("south africa","America","alaska")
d=("india","pakistan")
s=c+d
print(s)   #adding two tuples

('south africa', 'America', 'alaska', 'india', 'pakistan')

Day 26- Solution of day 15 (Time module)

Day 27-KBC program

In [ ]:
questions=[
 ['Who is the president of india?','a.Narendra Modi','b.Draupadi Murmu','c.Arun Jaitley','d.Rajnath Singh',2],
 ['Who is the PM of india?','a.Narendra Modi','b.Pranab mukherjee','c.Amit shah', 'd.Adityanath Yogi',1],
 ['What is the capital of Assam?','a.Guwahati','b.Dispur','c.Silchar','d.Shillong',2],
 ['Who invented bulb?','a.Newton','b.Thomas edison','c.J.C.Bose','d.Dr.A.P.J.Abdul kalam ',2],
 ['Who is the Home minister of india?','a.Natthulal singh','b.Ram vikas verma','c.Amit Shah','d.Hemanta biswa sharma',3],
]
levels=[2000,4000,6000,8000,10000]
money=0
for i in range(0,len(questions)):
  question = questions[i]
  print(f"\n\nQuestion for Rs. {levels[i]}")
  print(questions[i])
  reply = int(input("Enter your answer (1-4) or  0 to quit:\n" ))
  if (reply == 0):
    money = levels[i-1]
    break
  if(reply == question[-1]):
    print(f"Correct answer, you have won Rs. {levels[i]}")
    if(i == 1):
      money = 4000
    elif(i == 2):
      money = 8000
    elif(i ==31
         ):
      money = 10000
  else:
    print("Wrong answer!")
    break

print(f"Your take home money is {money}")

Question for Rs. 2000
['Who is the president of india?', 'a.Narendra Modi', 'b.Draupadi Murmu', 'c.Arun Jaitley', 'd.Rajnath Singh', 2]
Enter your answer (1-4) or  0 to quit:
2
Correct answer, you have won Rs. 2000


Question for Rs. 4000
['Who is the PM of india?', 'a.Narendra Modi', 'b.Pranab mukherjee', 'c.Amit shah', 'd.Adityanath Yogi', 1]
Enter your answer (1-4) or  0 to quit:
1
Correct answer, you have won Rs. 4000


Question for Rs. 6000
['What is the capital of Assam?', 'a.Guwahati', 'b.Dispur', 'c.Silchar', 'd.Shillong', 2]
Enter your answer (1-4) or  0 to quit:
2
Correct answer, you have won Rs. 6000


Question for Rs. 8000
['Who invented bulb?', 'a.Newton', 'b.Thomas edison', 'c.J.C.Bose', 'd.Dr.A.P.J.Abdul kalam ', 2]
Enter your answer (1-4) or  0 to quit:
2
Correct answer, you have won Rs. 8000


Question for Rs. 10000
['Who is the Home minister of india?', 'a.Natthulal singh', 'b.Ram vikas verma', 'c.Amit Shah', 'd.Hemanta biswa sharma', 3]
Enter your answer (1-4) or  0 to quit:
3
Correct answer, you have won Rs. 10000
Your take home money is 10000

Day 28- f strings

In [ ]:
letter="my name is {} and i am from {}"
name="siddhartha"
state="assam"
print(letter.format(name,state))

my name is siddhartha and i am from assam

In [ ]:
name="sid"
clg='SRM'
print(f"hey my name is {name} and i study in {clg}")
price=49.90999
txt=f"the cake is available only at {price:0.2f} dollars"
print(txt)

hey my name is sid and i study in SRM
the cake is available only at 49.91 dollars

Day 29- Docstrings

In [ ]:
def square(n):
  ''' HEY THE SQUARE OF THE NUMBER'''
  print(n*n)
square(5)
print(square.__doc__)

25
 HEY THE SQUARE OF THE NUMBER

Day 30- Recursion

In [ ]:
def fact(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*fact(n-1)
print(fact(3))
print(fact(6))

6
720

Fibonacci series program

In [ ]:
def Fibonacci(n):
	if n == 0:
		return 0
	elif n == 1 or n == 2:
		return 1
	else:
		return Fibonacci(n-1) + Fibonacci(n-2)
print(Fibonacci(9))

34

Day 31- Sets

In [ ]:
s={2,5,6,4,"harry",'sid','harry'}
print(s)
p={23,32,44,"gidiya",'hampy'}
print(p)
t=set()
print(type(t))
dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(dict)

print(dict)
print(type(dict))

{2, 4, 5, 6, 'harry', 'sid'}
{32, 'hampy', 23, 'gidiya', 44}
<class 'set'>
{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}
<class 'dict'>

Day 32- Set methods

In [ ]:
s1={2,3,1,5,2}
s2={9,4,5,2,1,0}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.issubset(s2))
c={"delhi","kolkata","mumbai"}
d={"chennai","delhi","lahore"}
print(c.intersection(d))
print(c.union (d))
print(c.symmetric_difference(d))
print(c.difference(d))
print(c.pop())

{0, 1, 2, 3, 4, 5, 9}
{1, 2, 5}
False
{'delhi'}
{'delhi', 'lahore', 'kolkata', 'mumbai', 'chennai'}
{'lahore', 'kolkata', 'mumbai', 'chennai'}
{'kolkata', 'mumbai'}
kolkata

Day 33-Dictionaries

In [ ]:
d={1:"give",2:"lend",3:"handover",4:"keep"}
print(d[3])
print(d.keys())
print(d.values())
print(d.items())
for x in d.keys():
  print(d[x])

handover
dict_keys([1, 2, 3, 4])
dict_values(['give', 'lend', 'handover', 'keep'])
dict_items([(1, 'give'), (2, 'lend'), (3, 'handover'), (4, 'keep')])
give
lend
handover
keep

Day 34-Dictionary methods

In [ ]:
e={1:23,2:32,3:122,4:89}
f={5:"shyam",6:"raj"}
e.update(f)
print(e)
e.pop(3)
print(e)
e.clear()
print(e)

{1: 23, 2: 32, 3: 122, 4: 89, 5: 'shyam', 6: 'raj'}
{1: 23, 2: 32, 4: 89, 5: 'shyam', 6: 'raj'}
{}

Day 35- for loop with else

In [ ]:
for i in range(6):
  print(i)
  if i==4:
    break
else:
    print("okay")

0
1
2
3
4

Day 36- Exception Handling

In [ ]:
a=(input("enter a number: "))
print(f"multiplication table of{a} is: ")
try:
  for i in range(1,11):
    print(f"{int(a)} X {int(i)} = {int(a)*int(i)}")
except Exception as e:
  print("Invalid input ")
print("multiplication table ")

enter a numberth
multiplication table ofth is:
Invalid input
multiplication table

Day 37- Finally keyword

In [ ]:
def func1():
  try:
    l = [1, 5, 6, 7]
    i = int(input("Enter the index: "))
    print(l[i])
    return 1
  except:
    print("Some error occurred")
    return 0

  finally:
    print("I am always executed")

x = func1()
print(x)

Enter the index: 2
6
I am always executed
1

Day 38-  Raising Custom errors

In [ ]:
a=input('Enter your number(5 to 9): ')
if (a=='quit'):
  pass
elif(int(a)<5 or int(a)>9):
  raise ValueError('Enter a value in between 5 and 9')
print(a)

Enter your number(5 to 9): quit
quit

Day 39- Solution of KBC problem given above

Day 40- Reversing a string

In [ ]:
a=input("enter your string: ") #REVERSE A STRING
print(a[::-1])

enter your string: Siddhartha Dhar
rahD ahtrahddiS

Secret code language

In [ ]:
st=input("enter message: ")
if(len(st)>=3):
  r="321"
  s="123"
  sol= r+st[1:]+st[0]+s
  print(sol)

enter message: sidisggooood
321idisggoooods123

In [ ]:
st = input("Enter message")
words = st.split(" ")
coding = input("1 for Coding or 0 for Decoding")
coding = True if (coding=="1") else False
print(coding)
if(coding):
  nwords = []
  for word in words:
    if(len(word)>=3):
      r1 = "dsf"
      r2 = "jkr"
      stnew = r1+ word[1:] + word[0] + r2
      nwords.append(stnew)
    else:
      nwords.append(word[::-1])
  print(" ".join(nwords))

else:
  nwords = []
  for word in words:
    if(len(word)>=3):
      stnew = word[3:-3]
      stnew = stnew[-1] + stnew[:-1]
      nwords.append(stnew)
    else:
      nwords.append(word[::-1])
  print(" ".join(nwords))

Enter messagedsfidSjkr si dsfoodgjkr
1 for Coding or 0 for Decoding0
False
Sid is good

Day 41- Short hand if else statements

In [ ]:
s=200
p=230
print("s>p" ) if s>p else print("=") if s==p else print("s<p")
c="harry" if s<p else 0
print(c)

s<p
harry

In [ ]:
n=int(input())
if(n%2!=0):
  print("odd")
else:
  print("even")

5
odd

Day 42- Enumerate function

In [ ]:
marks=[90,91,93,24,54,66]
index=0
for mark in marks:
  print(mark)
  if(index==3):
    print("hey,you are awesome")
  index+=1

90
91
93
24
hey,you are awesome
54
66

In [ ]:
marks=[90,91,93,24,54,66]
for index,mark in enumerate(marks):
  print(mark)
  if(index==3):
    print("hey,you are awesome")

90
91
93
24
hey,you are awesome
54
66

Day 43- Virtual environment  #installing different packages of python or any modules using shell scripting.

In [ ]:
import pandas as pd
import numpy as np
print(np.__version__)
print(pd.__version__)

1.22.4
1.5.3

Day 44- import modules

In [ ]:
from math import *
import pandas as pd
import numpy as np
import math
print(math.floor(2.3))
print(math.sqrt(9)* pi )

2
9.42477796076938

Day 45- if__name__="__main__" module

In [ ]:
def welcome():
  print("my name is sid")
  print(__name__)
if __name__=="main":
  welcome()

my name is sid
__main__

Day 46- os module

In [ ]:
 import os
 if (not os.path.exists("dir")):
  os.mkdir("dir")
 for i in range(0,100):
  os.mkdir(f"dir/Day{i+1}")

Day 47- Solution of secret code language

Day 48- local and global keywords

In [ ]:
x=4
print(x)
def func():
  x=5
  print("hello siddhartha")
  print(f"the local variable is {x} ")
func()
print(f"the global variable is {x}")

4
hello siddhartha
the local variable is 5
the global variable is 4

In [ ]:
x=10

def func():    #global variable changes to 4
  global x
  x=4
  y=5
  print(y)
func()
print(x)

5
4

Day 49- File IO

In [ ]:
f = open('myfile.txt', 'a')
f.write('Hello, world!\n')
f.close()

with open('myfile.txt', 'a') as f:
  f.write("Hey I am inside with")

Day 50- read(),readlines()

In [ ]:
f=open('myfile2.txt','w')
lines=["line1\n","line2\n","line3\n"]
f.writelines(lines)

Day 51- File handling seek(),tell()

In [ ]:
with open('newfile.txt','r') as f:
  f.seek(16)
  print(type(f))
  print(f.tell())
  data= f.read(4)
  print(data)

<class '_io.TextIOWrapper'>
16
good

In [ ]:
with open('sample.txt','w') as f:
  f.write("hello world!")
  f.truncate(3)

Day 52- Lambda functions

In [ ]:
def double(x):
  print(x*2)
(double(5))

double= lambda x:x*2
cube=lambda x:x*x*x
avg= lambda x,y:(x+y)/2
print(double(3))
print(cube(3))
print(avg(5,2))

10
6
27
3.5

Day 53- Map,filter and reduce

In [ ]:
from functools import reduce
def sum(b,c):
   return b+c
m=(1,2,3,4,5)
newww= reduce(sum,m)
print(newww)


def cube(x):
  return x * x * x
l = (1, 2, 3, 6, 5, 4)
newl = tuple(map(cube, l))
print(newl)

def function(a):
  return a>2
newlist=tuple(filter(function,l))
print(newlist)

15
(1, 8, 27, 216, 125, 64)
(3, 6, 5, 4)

Day 54- 'is' and '=='

In [ ]:
a=4
b='4'
print(a==b)
print(a is b )
c=5
d=5
print( c is d )
print(c==d)

False
False
True
True

Day 55-Stone paper scissor game

In [ ]:
import random

def check(user1,user2):
  if(user1==user2):
    return 0
  if(user1==0 and user2==1):
      return -1
  if(user1==1 and user2==2):
    return -1
  if(user1==2 and user2==0):
    return -1
  return 1
user1=int(input("enter 0 for paper,1 for stone,2 for scissor "))
user2=int(input("enter 0 for paper,1 for stone,2 for scissor "))
print("user1",user1)
print("user2",user2)
score=check(user1,user2)
if(score==0):
    print("its a draw")
elif(score==-1):
    print("user1 wins")
else:
    print("user 2 wins")

enter 0 for paper,1 for stone,2 for scissor 1
enter 0 for paper,1 for stone,2 for scissor 2
user1 1
user2 2
user1 wins

Day 56- Introduction to OOPs (theory)

Day 57- Classes and objects

In [ ]:
class person():
  name="siddhartha"
  occupation="data analyst"
  salary =300000
  def info(self):
    print(f"{self.name} is a {self.occupation} ")
a=person()
b=person()
c=person()
a.name='shubham'
a.occupation='accountant'
b.name='kriti'
b.occupation='manager'
a.info()
b.info()
c.info()

shubham is a accountant
kriti is a manager
siddhartha is a data analyst

Day 58-Constructors

In [ ]:
class person:
  def __init__(self,n,o):
    self.name=n
    self.occ=o
  def info(self):
    print(f"{self.name} is a {self.occ}")
a=person("sid","manager")
b=person("david","specialist")
a.info()
b.info()

sid is a manager
david is a specialist

Day 59- Decorators

In [ ]:
def greet(x):
  def mx():
    print("good morning")
    x()
    print("thank you for using this notebook")
  return mx

@greet
def hello():
  print("hello world")
def add(a,b):
  return a+b
hello()
add(6,7)

good morning
hello world
thank you for using this notebook

13

Day 60- Getters and setters in python

In [ ]:
class MyClass:
  def __init__(self, value):
      self._value = value

  def show(self):
    print(f"Value is {self._value}")

  @property
  def ten_value(self):
      return 10* self._value

''' @ten_value.setter
  def ten_value(self, new_value):
      self._value = new_value/10'''

obj = MyClass(10)
#obj.ten_value = 67
print(obj.ten_value)
obj.show()

100
Value is 10

Day 61- Inheritance in python

In [ ]:
class employee:
  def __init__(self,name,id):
    self.name=name
    self.id=id
  def details(self):
    print(f"Name of the employee: {self.name} and his id is {self.id} ")

class programmer(employee):
  def x(self):
    print("the language used by him is python")

class code(programmer):
  def y(self):
    print("his coding knowledge is quite awesome ")

a1=code("rohan",420)
a1.details()
a1.x()
a1.y()
a2=code("Sid",429)
a2.details()
a2.x()
a2.y()

Name of the employee: rohan and his id is 420
the language used by him is python
his coding knowledge is quite awesome
Name of the employee: Sid and his id is 429
the language used by him is python
his coding knowledge is quite awesome

Day 62- Access modifiers

In [ ]:
class employee:
  def __init__(self):
    self.name="harry"      #public access modifier
a=employee()
print(a.name)

class ename:
  def __init__(self):
    self.__n="sid"           #private  access modifier
b=ename()
print(b._ename__n)
print(a.__dir__)

class studname:
  def __init__(self):
    self._p="parag"           #protected  access modifier
d=studname()
print(d._p)

harry
sid
<built-in method __dir__ of employee object at 0x7fe9fb5da830>
parag

Day 63- Solution of stone paper scissor problem

Day 64- Library management system

In [ ]:
class Library:
  def __init__(self):
    self.books = []
    self.noBooks = 0

  def addBook(self, book):
    self.books.append(book)
    self.noBooks = len(self.books)

  def showInfo(self):
    print(f"The library has {self.noBooks} books. The books are")
    for book in self.books:
      print(book)


l1 = Library()
l1.addBook("Harry Potter1")
l1.addBook("2 STATES")
l1.addBook("The Lord of the rings trilogy")
l1.showInfo()

The library has 3 books. The books are
Harry Potter1
2 STATES
The Lord of the rings trilogy

In [ ]:
class lib:
  def __init__(self):
    self.books=[]
    self.nobooks=0
  def addbook(self,book):
    self.books.append(book)
    self.nobooks=len(self.books)
  def info(self):
    print(f"the library has {self.nobooks} books. the books are:")
    for book in self.books:
      print(book)
a=lib()
a.addbook("harrypotter")
a.addbook("lotr")
a.info()

the library has 2 books. the books are:
harrypotter
lotr

Day 65- Static methods

In [ ]:
class math:
  def __init__(self,num):
    self.num=num

  @staticmethod
  def add(a,b):
    return a+b
a=math(6)
print(add(7,2))
print(math.add(4,5))

9
9

Day 66- Instance variables and class variables

In [ ]:
class employee:
  occupation="manager"      #class variable
  noofemployees=0
  def __init__(self,name):
    employee.noofemployees+=1
    self.name=name
    self.raise_amount=0.03
  def details(self):
    print(f" name of the employee is {self.name} and the raise amount is {self.raise_amount} and occupation is {self.occupation} and sized {self.noofemployees}")
e1=employee("harry")
e1.raise_amount=0.4
e1.occupation="data analyst"  #instance variable
e1.details()
e2=employee("rohan")
e2.details()

 name of the employee is harry and the raise amount is 0.4 and occupation is data analyst and sized 1
 name of the employee is rohan and the raise amount is 0.03 and occupation is manager and sized 2

Day 67- Library management system solution

Day 68-Clear the clutter

In [ ]:
import os
file=os.listdir("clustered folder")
n=0
for i in file:
  n=n+1
  if i.endswith(".png"):
   os.rename(f"clutter/{i}",f"clutter/{n}.png")
   print(i)

Day 69- Class methods

In [ ]:
class company:
  company="apple"
  name="siddhartha"
  def info(self):
    print(f"{self.name} the name of my company is {self.company}")
  def change_company(cls,newcompany):
    cls.company=newcompany
e1=company()
e1.info()
e2=company()
e2.change_company("google")
e2.name="harry"
e2.info()

siddhartha the name of my company is apple
harry the name of my company is google

Day 70- Class methods as alternative constructors

In [ ]:
class Employee:
  def __init__(self, name, salary):
    self.name = name
    self.salary = salary

  @classmethod
  def fromStr(cls, string):
    return cls(string.split("-")[0], int(string.split("-")[1]))

e1 = Employee("Harry", 12000)
print(e1.name)
print(e1.salary)

string = "John-12000"
e2 = Employee.fromStr(string)
print(e2.name)
print(e2.salary)

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def string(cls, string):
        name, age = string.split(',')
        return cls(name, int(age))

person = Person.string("John Doe,30")
print(person.name, person.age)

Harry
12000
John
12000
John Doe 30

Day 71- dir,dict,help method

In [ ]:
x=(1,2,3)
print(dir(x))
print(x.__class__)
print(x.__add__)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
<class 'tuple'>
<method-wrapper '__add__' of tuple object at 0x7fa1cca25c40>

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
    self.salary=10000
e1=person("harry",12)
print(e1.age)
print(e1.name)
print(e1.__dict__)
print(help(person))

12
harry
{'name': 'harry', 'age': 12, 'salary': 10000}
Help on class person in module __main__:

class person(builtins.object)
 |  person(name, age)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

Day 72-super keyword

In [ ]:
class parent:
  def parentmethod(self):
    print("this is a parent method")

class child(parent):
   def parentmethod(self):
    print("siddhubhaiii")
   def childmethod(self):
    print("harry")
    super().parentmethod()


c1=child()
c1.childmethod()
c1.parentmethod()

harry
this is a parent method
siddhubhaiii

In [ ]:
class Employee:
  def __init__(self, name, id):
    self.name = name
    self.id = id

class Programmer(Employee):
  def __init__(self, name, id, lang):
    super().__init__( name, id)
    self.lang = lang

rohan = Employee("Rohan Das", "420")
harry = Programmer("Harry", "2345", "Python")
print(harry.name)
print(harry.id)
print(harry.lang)

Harry
2345
Python

In [ ]:
class c1:
  def __init__(self,name,id):
    self.name=name
    self.id=id
class c2(c1):
  def __init__(self,name,id,lang):
    super().__init__(name,id)
    self.lang=lang
o1=c1("sid","4200")
o2=c2("harry","2341","python")
print(o2.name)
print(o2.id)
print(o2.lang)

harry
2341
python

Day 73- magic/dunder methods

In [ ]:
class emp:
  def __init__(self,name):
    self.name=name
  def __len__(self):
    i=0
    for c in self.name:
      i+=1
    return i
o1=emp("harry")
print(len(o1))
print(o1.name)

5
harry

Day 74- Method overriding

In [ ]:
class rectangle:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def area(self):
    return self.x*self.y
class circle:
  def __init__(self,radius):
    self.radius=radius
  def newarea(self):
    return 3.14*self.radius*self.radius
recarea=rectangle(3,6)
print(recarea.area())
circlearea=circle(4)
print(circlearea.newarea())

18
50.24

In [ ]:
class Shape:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def area(self):
      return self.x * self.y

class Circle(Shape):
    def __init__(self, radius):
      self.radius = radius
      super().__init__(radius, radius)

    def area(self):
        return 3.14 *  super().area()

# rec = Shape(3, 5)
# print(rec.area())

c = Circle(5)
print(c.area())

Day 75-solution of os module image name creation(clear the clutter)

Day 76-merge the pdf

In [ ]:
from PyPDF2 import PdfWriter
import os

merger = PdfWriter()
lst = os.listdir('pdf')
lst = [
  f'pdf/{i}' for i in lst
]  #if you want to change merging in pdf pages ,we have to write arrange order of element of this lst.
for pdf in lst:
  merger.append(pdf)

merger.write("merged pdf/merged.pdf")
merger.close()
print('Done')
print('Done')

Day 77- Operator overloading

In [ ]:
class vector:
  def __init__(self,i,j,k):
    self.i=i
    self.j=j
    self.k=k
  def __add__(self,x):
    return vector(self.i+x.i,self.j+x.j,self.k+x.k)
  def __str__(self):
      return f"{self.i}i+{self.j}j+{self.k}k"
v=vector(3,4,5)
print(v)
w=vector(2,4,7)
print(w+v)
print(type(w+v))

3i+4j+5k
5i+8j+12k
<class '__main__.vector'>

class 79- single inheritance

In [ ]:
class animal:
  def __init__(self,name,species):
    self.name=name
    self.species=species
  def sound(self):
    print(f"the sound made by the animal")
class dog(animal):
  def __init__(self,name,breed):
    animal.__init__(self,name,species="dog")
    self.breed= breed
  def sound(self):
    print("bark!")
class cat(animal):
  def __init__(self,name,breed):
    animal.__init__(self,name,species="cat")
    self.breed=breed
  def sound(self):
    print("meow")


o1=animal("dog","german shepherd")
o1.sound()
o2=dog("dog","german shepherd")
o2.sound()
o3=cat("cat","cat")
o3.sound()
o3.species

the sound made by the animal
bark!
meow

'cat'

Day 79- Multiple inheritance

In [ ]:
class employee:
  def __init__(self,name):
    self.name=name
  def show(self):
    print(f"the name is {self.name}")
class dancer:
  def __init__(self,dance):
    self.dance=dance
  def show(self):
    print(f"the dance is {self.dance}")
class danceremployee(employee,dancer):
  def __init__(self,dance,name):
    self.dance=dance
    self.name=name

o1=danceremployee("kathak","shivani")
o1.show()
print(danceremployee.mro())

the name is shivani
[<class '__main__.danceremployee'>, <class '__main__.employee'>, <class '__main__.dancer'>, <class 'object'>]

Day 80- Multilevel inheritance

In [ ]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species

    def show_details(self):
        print(f"Name: {self.name}")
        print(f"Species: {self.species}")

class Dog(Animal):
    def __init__(self, name, breed):
        Animal.__init__(self, name, species="Dog")
        self.breed = breed

    def show_details(self):
        Animal.show_details(self)
        print(f"Breed: {self.breed}")

class GoldenRetriever(Dog):
    def __init__(self, name, color):
        Dog.__init__(self, name, breed="Golden Retriever")
        self.color = color

    def show_details(self):
        Dog.show_details(self)
        print(f"Color: {self.color}")

o = GoldenRetriever("tommy", "golden")
o.show_details()
print(GoldenRetriever.mro())

Name: tommy
Species: Dog
Breed: Golden Retriever
Color: golden
[<class '__main__.GoldenRetriever'>, <class '__main__.Dog'>, <class '__main__.Animal'>, <class 'object'>]

Day 81-Hybrid and hierarchical inheritance

In [ ]:
class Animal:                                  #hierarchical inheritance
    def __init__(self, name):
        self.name = name

    def eat(self):
        print(f"{self.name} is eating.")

class Dog(Animal):
    def bark(self):
        print(f"{self.name} is barking.")

class Cat(Animal):
    def meow(self):
        print(f"{self.name} is meowing.")

class Lion(Animal):
    def roar(self):
        print(f"{self.name} is roaring.")
dog = Dog("Buddy")
cat = Cat("Kitty")
lion = Lion("Simba")
dog.eat()
dog.bark()

cat.eat()
cat.meow()

lion.eat()
lion.roar()

Buddy is eating.
Buddy is barking.
Kitty is eating.
Kitty is meowing.
Simba is eating.
Simba is roaring.

In [ ]:
class Animal:                                     # hybrid inheritance
    def __init__(self, name):
        self.name = name

    def eat(self):
        print(f"{self.name} is eating.")

class Mammal(Animal):
    def run(self):
        print(f"{self.name} is running.")

class Bird(Animal):
    def fly(self):
        print(f"{self.name} is flying.")

class Bat(Mammal, Bird):
    def sleep(self):
        print(f"{self.name} is sleeping.")

class Dog(Mammal):
    def bark(self):
        print(f"{self.name} is barking.")

class Parrot(Bird):
    def talk(self):
        print(f"{self.name} is talking.")

# Creating instances of derived classes
bat = Bat("Batty")
dog = Dog("Buddy")
parrot = Parrot("Polly")

# Calling methods
bat.eat()
bat.run()
bat.fly()
bat.sleep()

dog.eat()
dog.run()
dog.bark()

parrot.eat()
parrot.fly()
parrot.talk()

Day 82- Solution of merge the pdf

Day 83- Shoutouts to everyone ,text to speech in python

In [ ]:
pip install gtts

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gtts
  Downloading gTTS-2.3.2-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gtts) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gtts) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gtts) (3.4)
Installing collected packages: gtts
Successfully installed gtts-2.3.2

In [ ]:
pip install playsound

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting playsound
  Downloading playsound-1.3.0.tar.gz (7.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: playsound
  Building wheel for playsound (setup.py) ... done
  Created wheel for playsound: filename=playsound-1.3.0-py3-none-any.whl size=7019 sha256=150f3ec7e6aa452997064ea603a27b252ea5db734a321880881d606b2e9c5bed
  Stored in directory: /root/.cache/pip/wheels/90/89/ed/2d643f4226fc8c7c9156fc28abd8051e2d2c0de37ae51ac45c
Successfully built playsound
Installing collected packages: playsound
Successfully installed playsound-1.3.0

In [ ]:
!pip install gTTS

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gTTS in /usr/local/lib/python3.10/dist-packages (2.3.2)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gTTS) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gTTS) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (3.4)

In [ ]:
import gtts             #this code works
import playsound

text=input("enter the text:")
sound=gtts.gTTS(text,lang="en")
sound.save("welcome.mp3")
playsound.playsound("welcome.mp3")

enter the text:hello adreesh doctor babu.this is a git from siddhartha dhar.this is to inform you that you are a hetachuda and will be a hetachuda here after .this is created by the Siddhartha dhar using nlp techniques in python. thank you bhosdike.

CalledProcessError: ignored

Day 84-time module

In [ ]:
import time
def ran():
  for i in range(1,10,2):
    print(i)
init=time.time()   #start time-init,time.time refers to end time
ran()
print(time.time()-init)

1
3
5
7
9
0.0029795169830322266

In [ ]:
print(4)
time.sleep(2)
print("this will be printed after 3 secs")
t=time.localtime()
newtime=time.strftime("%d-%m-%Y %H:%M:%S",t)
print(newtime)

4
this will be printed after 3 secs
27-06-2023 07:18:28

Day 85- command line utility

In [ ]:
import argparse
import requests

def download_file(url, local_filename):
  if local_filename is None:
    local_filename = url.split('/')[-1]
  with requests.get(url, stream=True) as r:
      r.raise_for_status()
      with open(local_filename, 'wb') as f:
          for chunk in r.iter_content(chunk_size=8192):
              # If you have chunk encoded response uncomment if
              # and set chunk_size parameter to None.
              #if chunk:
              f.write(chunk)
  return local_filename

parser = argparse.ArgumentParser()

# Add command line arguments
parser.add_argument("url", help="Url of the file to download")
# parser.add_argument("output", help="by which name do you want to save your file")
parser.add_argument("-o", "--output", type=str, help="Name of the file", default=None)

# Parse the arguments
args = parser.parse_args()

# Use the arguments in your code
print(args.url)
print(args.output, type(args.output))
download_file(args.url, args.output)

Day 86- Walrus operator

In [ ]:
list1=[1,2,3,4,5]
while (n:=len(list1)>0):
  print(list1.pop())

a=[1,2,3,4,5]
print(a:=[1,4,5,6,7])

foods=list()
while(foodslist:= input("what food would you like to have?:"))!='quit':
  foods.append(foodslist)

5
4
3
2
1
[1, 4, 5, 6, 7]
what food would you like to have?:apple
what food would you like to have?:mango
what food would you like to have?:pizza
what food would you like to have?:quit

Day 87- Shutil module

In [ ]:
import shutil
shutil.copy("main.py","main2.py")   #copy the contents of main.py to main2.py
shutil.move("covers/1.jpg","songs/1.jpg") # to move a file from covers folder to songs folder
shutil.copytree("tutorial","mytutorial")  #to make a copy of the whole folder tutorial to mytutorial

Day 88- solution of text to sppech(solutions to everyone)

Day 89- Requests module in python **bold text**

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [ ]:
import requests
from bs4 import BeautifulSoup
url='https://www.linkedin.com/in/siddhartha-dhar-443b961b6/'
x=requests.get(url)
print(x.text)
soup= BeautifulSoup(x.text,'html.parser')
print(soup.prettify())

<html><head>
<script type="text/javascript">
window.onload = function() {
  // Parse the tracking code from cookies.
  var trk = "bf";
  var trkInfo = "bf";
  var cookies = document.cookie.split("; ");
  for (var i = 0; i < cookies.length; ++i) {
    if ((cookies[i].indexOf("trkCode=") == 0) && (cookies[i].length > 8)) {
      trk = cookies[i].substring(8);
    }
    else if ((cookies[i].indexOf("trkInfo=") == 0) && (cookies[i].length > 8)) {
      trkInfo = cookies[i].substring(8);
    }
  }

  if (window.location.protocol == "http:") {
    // If "sl" cookie is set, redirect to https.
    for (var i = 0; i < cookies.length; ++i) {
      if ((cookies[i].indexOf("sl=") == 0) && (cookies[i].length > 3)) {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        return;
      }
    }
  }

  // Get the new domain. For international domains such as
  // fr.linkedin.com, we convert it to www.linkedin.com
  // treat .cn similar to .com here
  var domain = location.host;
  if (domain != "www.linkedin.com" && domain != "www.linkedin.cn") {
    var subdomainIndex = location.host.indexOf(".linkedin");
    if (subdomainIndex != -1) {
      domain = "www" + location.host.substring(subdomainIndex);
    }
  }

  window.location.href = "https://" + domain + "/authwall?trk=" + trk + "&trkInfo=" + trkInfo +
      "&original_referer=" + document.referrer.substr(0, 200) +
      "&sessionRedirect=" + encodeURIComponent(window.location.href);
}
</script>
</head></html>

<html>
 <head>
  <script type="text/javascript">
   window.onload = function() {
  // Parse the tracking code from cookies.
  var trk = "bf";
  var trkInfo = "bf";
  var cookies = document.cookie.split("; ");
  for (var i = 0; i < cookies.length; ++i) {
    if ((cookies[i].indexOf("trkCode=") == 0) && (cookies[i].length > 8)) {
      trk = cookies[i].substring(8);
    }
    else if ((cookies[i].indexOf("trkInfo=") == 0) && (cookies[i].length > 8)) {
      trkInfo = cookies[i].substring(8);
    }
  }

  if (window.location.protocol == "http:") {
    // If "sl" cookie is set, redirect to https.
    for (var i = 0; i < cookies.length; ++i) {
      if ((cookies[i].indexOf("sl=") == 0) && (cookies[i].length > 3)) {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        return;
      }
    }
  }

  // Get the new domain. For international domains such as
  // fr.linkedin.com, we convert it to www.linkedin.com
  // treat .cn similar to .com here
  var domain = location.host;
  if (domain != "www.linkedin.com" && domain != "www.linkedin.cn") {
    var subdomainIndex = location.host.indexOf(".linkedin");
    if (subdomainIndex != -1) {
      domain = "www" + location.host.substring(subdomainIndex);
    }
  }

  window.location.href = "https://" + domain + "/authwall?trk=" + trk + "&trkInfo=" + trkInfo +
      "&original_referer=" + document.referrer.substr(0, 200) +
      "&sessionRedirect=" + encodeURIComponent(window.location.href);
}
  </script>
 </head>
</html>

Day 90- news app in python

In [ ]:
from IPython.core.display import json
import requests
query=input("What type of news are you interested")
url=f"https://newsapi.org/v2/everything?q={query}&from=2023-05-28&sortBy=publishedAt&apiKey=37a32247a8374b74957b998b6a4c7c16"
x=requests.get(url)
news=json.loads(x.text)
for articles in news["articles"]:
  print(articles["title"])
  print(articles["description"])
  print("---------------------------------------------------------------")

What type of news are you interested music
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For residents, Islam's most sacred city Mecca is simply home
---------------------------------------------------------------

272023GMA1020203COVID-19
---------------------------------------------------------------
Rwanda: Every Story, Every Song, Every Line is an Invitation Into My Internals - 1key on His New Album 'Ki'
[New Times] 1key, a poet, musician, and actor, has said that his latest album 'Ki' will be available on all digital and streaming platforms on July 1, after spending three months exclusively on his website as he wanted to experiment with his fans how they sup
---------------------------------------------------------------
Crowds boo Zayed Khan off the stage in US
New York City witnessed an unfortunate turn of events at the highly anticipated Dhallywood Film and Music Awards, as actor Zayed Khan found himself at the centre of an unexpected and disrespectful outburst from the audience.
---------------------------------------------------------------
Pasoori: Bollywood remake of hit Pakistani song divides Indians
Indians are reacting sharply to Bollywood's remake of Pasoori, a popular Pakistani pop sing released last year.
---------------------------------------------------------------
:      Mad Video Music Awards -
  Cha Cha Cha            -           event |  | Mad Video Music Awards |  | Gala
---------------------------------------------------------------
The Japanese House on throuples, her new album, and becoming a better person: Sleeping was the only time I felt good  or drinking
Amber Bain has been making music under the moniker The Japanese House since 2015. The singer-songwriter speaks with Shaad DSouza about her new album, falling in love with gay pride, and her thoughts on the controversy surrounding her family member and fr
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For residents, Islam's most sacred city Mecca is simply home
---------------------------------------------------------------
Lucian Ban & Mat Maneri  Oedipe Redux (2023)
Pianist Lucian Ban and violinist/violist Mat Maneri have teamed up to form an octet dedicated to performing the nearly-forgotten George Enescu opera Oedipe, an early 20th-century work that retells the story of Oedipus Rex as combined with Oedipus the King and
---------------------------------------------------------------
Touring Australia and Europe, music festival blocks phone cameras with stickers
This Never Happened, a series of dance music events, tells its audiences to 'Experience the moment, don't record it.' That means no phones in the air.
---------------------------------------------------------------
Leroy from the North  Toughen Up (2023)
Leroy from the North is the brainchild of Eli Wulfmeier, singer and guitarist, who wrote all the songs on the record. Originally from Michigan, he moved to California in his twenties and played in the hard rock band Dorothy. He has since toured with Sam Morro
---------------------------------------------------------------
TV tonight: farewell to the wonderful world of Somebody Somewhere
The finale of this clever, wise show about lifes ups and downs will warm you with a rosy glow. Plus: filthy skits in A Black Lady Sketch show. Heres what to watch this evening Continue reading...
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For residents, Islam's most sacred city Mecca is simply home
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For residents, Islam's most sacred city Mecca is simply home
---------------------------------------------------------------
Music Festival Vodka Branding - The Absolut Tomorrowland Limited Edition Bottle is Celebratory (TrendHunter.com)
(TrendHunter.com) The Absolut Tomorrowland limited edition bottle has been revealed as the latest packaging style from the vodka brand that celebrates the namesake Belgian electronic dance festival. The packaging...
---------------------------------------------------------------
Shaking off ticket scalping in Victoria
Taylor Swifts Melbourne concerts have officially been declared a major event to protect fans from ticket scalpers. Minister for Tourism,...
The post Shaking off ticket scalping in Victoria appeared first on Northern.
---------------------------------------------------------------
WATCH: ATEEZ Wooyoung Flawlessly Recovers From Nearly Falling Off Stage During Performance
ATEEZ member Wooyoung nearly fell off the stage during a performance but quickly recovered.
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islams holiest sites are simply home
MECCA, Saudi Arabia (AP)  For Zainab Abdu, the holiest sites in Islam were the backdrop for her weekends growing up.
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For residents, Islam's most sacred city Mecca is simply home
---------------------------------------------------------------
What is it like living in Mecca? For residents, Islam's holiest sites are simply home
For Zainab Abdu, the holiest sites in Islam were the backdrop for her weekends growing up.  Raised in Mecca, Abdu remembers roller-skating with friends near ...
---------------------------------------------------------------
 Paul van DykTICKET10MEET & GREET
[TST]
20042016DJ MAG2005ReflectionsBest Dance/Electronic AlbumDance Music AwardNo.DJ...
---------------------------------------------------------------
Alibaba Turns To Little-Known Coder To Continue Jack Ma's Legacy
Alibaba Group Holding Ltd. ushered through a parade of high-profile stewards over its 24-year history, from the larger-than-life Jack Ma himself to a succession of C-suite executives who frequent conference and diplomatic circles.
---------------------------------------------------------------
iOS 17 AirDrop  all the changes coming to your iPhone - Tom's Guide
iOS 17 AirDrop  all the changes coming to your iPhoneTom's Guide Apple Messages Is Getting Some Major Changes. Here's What to ExpectCNET iOS 17 features: These are my 12 favoritesAndroid Authority One of my favorite Spotify features is coming to Apple Music
---------------------------------------------------------------
Ella, Molly, Kady... meet the cast of Love Islands 2023 summer edition
Molly is the latest islander to be dumped in the ITV 2 show
---------------------------------------------------------------
Nigeria: Banky W Breaks Silence On Alleged Romance With Niyola
[Leadership] Nigerian music executive, Bankole Wellington, popularly known as Banky W, has responded to allegations that he was cheating on his wife, Adesuwa Etomi.
---------------------------------------------------------------
 2023
[]
[1: https://prtimes.jp/i/5889/1991/resize/d5889-1991-8b606381247c34d047fd-3.jpg ]

...
---------------------------------------------------------------
Anime Expo 2023ProjectNEEDY GIRL OVERDOSE
[]
[1: https://prtimes.jp/i/5369/30/resize/d5369-30-ea25cba72fd36ea7838b-19.jpg ]

ProjectGiftNEEDY GIRL OVERDOSE...
---------------------------------------------------------------
Bizarre! iPhone 14 crash detection feature causes chaos at Bonaroo music festival - HT Tech
<ol><li>Bizarre! iPhone 14 crash detection feature causes chaos at Bonaroo music festivalHT Tech
</li><li>iPhones Are Making False 911 Calls at BonnarooGizmodo
</li><li>Dancing Bonaroo-goers set off Apple's Crash Detection, cause chaos for 911 teamAnd
---------------------------------------------------------------
Ofertn de los PcDays de PcComponentes con una silla gaming Newskill Takamikura rebajada 70 euros
Pasamos muchas horas sentados frente al ordenador. De ah que sea tan importante disponer de una silla ergonmica, cmoda y que evite que se acumulen muchas tensiones en el cuerpo. Para ello, casi nada mejor que una silla gaming. Si an no tienes una, quiz t
---------------------------------------------------------------
Catching Up With Taeyong, More Rihanna for Vuitton, AmfAR to Launch NFT ArtCompetition
Taeyong had a brief chat with WWD at Loewe, Vuitton releases more Rihanna ads, amfAR unveils an NFT art competition with star judges.
---------------------------------------------------------------
Fratello Favorites: The Best Summer Watches  Lexs Picks From Longines, Casio G-Shock, And Certina
The summer is for traveling to a destination that will enable you to live your very best life. First, you have to get to your destination in style and on time  cue the first watch, the Longines Spirit Zulu Time GMT 39mm. And once you get to the temporary par
---------------------------------------------------------------
The car features drivers say their next motor must have
Tech to help drivers park, direct them to a destination and quickly defrost a windscreen ranked high on motorists' wishlist. And one seemingly out-of-date feature is also still very much in demand.
---------------------------------------------------------------
Amazon: Smarter Tr- und Fenstersensor von Aqara fr rund 17 Euro
Sind Fenster und Tren geschlossen? Ein smarter Tr- und Fenstersensor schafft flott Klarheit. Gerade ist ein Modell der Marke Aqara bei Amazon gnstig im Angebot.
---------------------------------------------------------------
 EXPO in 91618202374
[ EXPO in ]
EXPO20163091618...
---------------------------------------------------------------
Pernilla Wahlgren: Jag har varit s rdd och stngd
Pernilla Wahlgren har drivit med sig sjlv och sin kndisfamilj nda sen Benjamin-duetten Skyll det p min mamma p Allsngen 2007. Det r en humoristisk sjlvdistans som hon tnker jobba vidare med ven som programledare, och som dessutom blivit ngot av e
---------------------------------------------------------------
Amazon: VR-Brille Meta Quest 2 fr ansehnliche 400 Euro schnappen
Mit einer VR-Brille erleben Sie Filme, Spiele und andere virtuelle Umgebungen auf eine ganz neue Weise. Gerade ist bei Amazon die Meta Quest 2 zum Top-Preis im Angebot.
---------------------------------------------------------------
Soft Tailoring for Spring: What Paris BuyersLoved
While Pharrell Williams' powerhouse debut for Louis Vuitton made a mark on the week, buyers found soft shapes and colors from Kim Jones' Dior, Dries Van Noten and Amiri on their wish lists.
---------------------------------------------------------------
Comment porter les couleurs non, la tendance mode de cet t
 ct de la tendance pastel, une autre bien plus ose se dmarque cet t: la tendance non. Mais en plus de pouvoir lassumer, il faut aussi savoir comment bien se lapproprier
---------------------------------------------------------------
BBC only wants to feature working-class people if they're miserable, says Melvyn Bragg
Former South Bank Show host claims that people from his background are under-represented in the media
---------------------------------------------------------------
Sailor Moon Cosmos Films Stream Video Featuring Insert Song
Video features Three Lights insert song "Nagareboshi e"
---------------------------------------------------------------
Wireless Festival to be held at Finsbury Park for next five years
Haringey council says the five-year deal provides income for the park, but local groups opposed it.
---------------------------------------------------------------
BlackPink cha xin cp php biu din "m  qung co nh vy l cha hp l lm"
H NI (Sputnik) - Lin quan n vic nhm nhc BlackPink s t chc bui biu din ti sn M nh, H Ni, S Vn ha, Th thao H Ni cho bit cha nhn c h s xin cp php biu din.
---------------------------------------------------------------
Vodka Garden Party Events - CROC Vodka Hit The Courts to celebrate its Honey Melon Flavor (TrendHunter.com)
(TrendHunter.com) Just in time for summer, CROC Vodka has launched a limited edition flavor, CROC Vodka Honey Melon. This refreshingly smooth vodka is priced at $55 CAD and is a perfect complement to summer. As...
---------------------------------------------------------------
Cheating Rumours - Banky W, Adesua Spotted in Church, Keep Mum On Allegations
[Premium Times] On Sunday, rumours were rife that Banky W allegedly cheated on Adesua with a former label signee.
---------------------------------------------------------------
Taylor Swift tour given major event status in Victoria in bid to foil ticket scalpers
Decision comes as passes for singers 2024 Eras tour in Australia are being resold for more than $3,000<ul><li>Follow our Australia news live blog for the latest updates</li><li>Get our morning and afternoon news emails, free app or daily news podcast</li></u
---------------------------------------------------------------
Wir hatten nichts damit zu tun, sagt Biden ber den Wagner-Aufstand
Nach dem Aufstand in Russland scheint Joe Biden zu befrchten, dass der russische Staatschef Wladimir Putin dem Westen die Schuld geben knnte. Die USA und die Nato htten nichts damit zu tun, betont der US-Prsident deshalb. Mehr im Liveticker.
---------------------------------------------------------------
Orban hlt Sieg der Ukraine gegen Russland fr unmglich
Im Interview mit WELT und weiteren Medien spricht Ungarns Ministerprsident Viktor Orban ber seine Sicht auf den Ukraine-Krieg. Er glaubt, dass Kiew die Soldaten eher ausgehen werden als Moskau. Zur Rettung der Ukraine sollten die USA und Russland ber einen
---------------------------------------------------------------
Elton John fans infuriated by Piers Morgans Glastonbury commentary: Read the room
The former Good Morning Britain presenter tweeted suggesting John was having to read the words to all his own songs
---------------------------------------------------------------
MUSIC FAIR
7118:00MUSIC FAIR
---------------------------------------------------------------
Rates increase signed off by Whanganui District Council, but no one is happy about it
It doesnt matter how you cut it, we have made people worse-off this year."
---------------------------------------------------------------
Braverman needs to deal in reality and green light drugs testing at UK festivals
The lack of on-site drug testing at festivals this summer could have harmful consequences. It's part of a broader problem: the Home Office's "war on drugs" rhetoric is unrealistic, writes Elena Siniscalco
---------------------------------------------------------------
Philosopher sparks outrage with essay about why people shouldnt travel: Very elitist
Travel is a boomerang. It drops you right where you started, she writes
---------------------------------------------------------------
WATCH: SHINee Drops Official Music Video For New Hip-Hop Track 'Hard'
SHINee unveiled the official music video of its new track "Hard."
---------------------------------------------------------------
RAUW ALEJANDRO visitar Ecuador en su gira Saturno World Tour 2023
El reguetonero puertorriqueo Rauw Alejandro ofrecer dos conciertos en Ecuador como parte de su gira mundial Saturno World Tour 2023.
---------------------------------------------------------------
Russ, Dr. Dre, & Snoop Doggs Studio Session Was A Dream Come True For The Rapper To Which He Considered Himself Blessed
Getty Image


In the gallery of images uploaded to the 'Too Much' rapper's Instagram, he let fans know he's rubbing shoulders with the rap pioneers.
---------------------------------------------------------------
How The Mars Volta's De-Loused In The Comatorium brilliantly rewired prog rock for a new generation of punk rock kids
Released in June 2003, The Mars Volta's debut album De-Loused In The Comatorium is a prog-punk masterpiece
---------------------------------------------------------------
First Vietnamese invited to join piano jury at Intl Tchaikovsky Competition
Assoc. Prof., Dr. Ta Quang Dong, Deputy Minister of Culture, Sports and Tourism, has become the first Vietnamese to be invited to join the jury for the piano contest at the 17th International Tchaikovsky Competition, the ministry announced on June 26.
---------------------------------------------------------------
10th annual Boston JerkFest kicks off next weekend
The two-day, outdoor Caribbean-style food festival is often recognized as one of the best festivals of the summer. Bring the family.
---------------------------------------------------------------
Malachy Tuohy: There was no point putting out an album that sounded like The Riptide Movement
The songwriters debut solo album was born out of a feverish spell of lockdown creativity, unmoored from any requirement for radio-friendliness
---------------------------------------------------------------
The throuple was intense. Im really happy I had that experience. Im equally happy Im no longer in it
Amber Bain, aka The Japanese House, has made an extraordinary album after her fraught three-way relationship
---------------------------------------------------------------
Compassion, collaboration, and community: Strategies for staff well-being
Journal Title:
Nursing Management Abstract: <!-- ARTICLE LENGTH:0 -->
<!-- ABSTRACT LENGTH YYY:1000 -->
Article Price :$10.95
Issue pub date:June 2023
Volume:54 Number:6
Pages:7 - 11
---------------------------------------------------------------
Jacky Cheung adds final two concerts in Singapore, bringing total to 11 shows
The Hong Kong Heavenly King has already sold out nine concerts at the Singapore Indoor Stadium. Read more at straitstimes.com.
---------------------------------------------------------------
Bizarrap y Rauw Alejandro: dos nuevas canciones del verano?
El argentino y el de Puerto Rico no tuvieron suficiente con la 'BZRP Music Session #56' lanzada el 21 de junio. Apenas 24 horas despus presentaron 'Baby Hello', el adelanto de 'Playa Saturno', el nuevo disco de Rauw Alejandro. Sin quererlo ni beberlo, los do
---------------------------------------------------------------
Travis Scott's Website Gets Updated With 'UTOPIA' Logo and Pre-Order Code Line
Travis Scott's elusive UTOPIA album could be dropping very soon as eagle-eyed fans spotted his updated website hinting at its release.As per Kurrco on Twitter, a line in Scott's website coding supposedly features a UTOPIA pre-order option that links to his of
---------------------------------------------------------------
Jason Mraz - I'm Yours [//]






 (adsbygoogle = window.adsbygoogle || []).push({});



 JasonMraz"I'mYours"2008620WeSing.WeDance.WeStealThings..2008111001,1000. "I'mYou
---------------------------------------------------------------
Sprite tries to reach Gen Z, millennials with QR codes, social spend honoring hip-hops 50th anniversary
Beverage brand Sprite is diversifying its media mix to appeal to Gen Z and millennials while marking the 50th anniversary of hip-hop music. Sprite has a 30-second ad spot that debuted earlier this month, featuring Nas, Rakim, Latto and GloRilla on connected a
---------------------------------------------------------------
Cloud, Why So Difficult?
A manifesto for cloud-oriented programming
---------------------------------------------------------------
Weaponization of Politics, an American Tradition
President Donald Trump is hardly the first political figure who has had the legal and policy processes weaponized against him. In fact, there is a long and shameful history of US politicians and bureaucrats weaponizing governmental powers against their politi
---------------------------------------------------------------
Sprite tries to reach Gen Z, millennials with QR codes, social spend honoring hip-hops 50th anniversary

Day 91- Generators

In [ ]:
def gen():
  for i in range(5):
    yield i
gen1=gen()
print(next(gen1))
print(next(gen1))
print(next(gen1))

0
1
2

Day 92 -function caching

In [ ]:
from functools import lru_cache
import time
@lru_cache(maxsize=None)
def fx(n):
  time.sleep(3)
  return n*3

print(fx(20))
print("done for this number")
print(fx(3))
print("done for this number")
print(fx(5))
print("done for this number")
print(fx(20))
print("done for this number")
print(fx(11))
print("done for this number")
print(fx(12))
print("done for this number")

60
done for this number
9
done for this number
15
done for this number
60
done for this number
33
done for this number
36
done for this number

Day 93- solution of news app

Day 94- drink water solution

In [ ]:
pip install win10toast

In [ ]:
from win10toast import ToastNotifier   #stack overflow solution
toast = ToastNotifier()
toast.show_toast(
    "Notification",
    "Notification body",
    duration = 20,
    icon_path = "icon.ico",
    threaded = True,
)

Day 95- regular expressions in python

In [ ]:
import re

In [ ]:
pattern="was"
pattern=r"[A-Z]+ilchar"
text="i am siddhartha dhar i was born and brought up in Silchar."
x=re.search(pattern,text)
print(x)

<re.Match object; span=(50, 57), match='Silchar'>

Day 96- AsyncIO

In [ ]:
import time
import asyncio
async def func1():
  await asyncio.sleep(3)
  print(" func1 this is printed")
async def func2():
  asyncio.sleep(1)
  print(" func2 this is printed")
async def func3():
  await asyncio.sleep(2)
  print("func3 this is printed")
L= await asyncio.gather(
    func1(),
    func2(),
    func3()
)
print(L)

<ipython-input-21-3c769f2c6249>:7: RuntimeWarning: coroutine 'sleep' was never awaited
  asyncio.sleep(1)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

 func2 this is printed
func3 this is printed
 func1 this is printed
[None, None, None]

Day 97- Multithreading

In [ ]:
import time
import threading

def func(seconds):
  print(f"sleep for {seconds} seconds")
  time.sleep(seconds)

counter1=time.perf_counter()
func(4)
func(2)
func(1)
counter2=time.perf_counter()
print(counter2-counter1)

counter1=time.perf_counter()
t1=threading.Thread(target=func,args=[4])
t2=threading.Thread(target=func,args=[2])
t3=threading.Thread(target=func,args=[1])

t1.start()
t2.start()
t3.start()
counter1=time.perf_counter()
print(counter2-counter1)

sleep for 4 seconds
sleep for 2 seconds
sleep for 1 seconds
7.010760345000563
sleep for 4 seconds
sleep for 2 seconds
sleep for 1 seconds-0.0040201089996116934

Day 98- Multiprocessing

In [ ]:
import multiprocessing
import requests                       # multiprocessing is a package that supports spawning processes using an API similar to the threading module. The multiprocessing package offers both local and remote concurrency, effectively side-stepping the Global Interpreter Lock by using subprocesses instead of threads. Due to this, the multiprocessing module allows the programmer to fully leverage multiple processors on a given machine. It runs on both Unix and Windows.
import concurrent.futures

""" With codewithharry part"""
def downloadFile(url, name):
  print(f"Started Downloading {name}")
  response = requests.get(url)
  open(f"files/file{name}.jpg", "wb").write(response.content)
  print(f"Finished Downloading {name}")
  return name

url = "https://picsum.photos/2000/3000"
pros = []
for i in range(5):
  p = multiprocessing.Process(target=downloadFile, args=[url, i])
if __name__ == "main": #mustline for strt() and join()
    p.start()
pros.append(p)

for p in pros:
  if __name__ == "main":
    p.join()

with concurrent.futures.ProcessPoolExecutor() as executor:
  l1 = [url for i in range(6)]
  l2 = [i for i in range(6)]
  if __name__ == "main": # must to write Understand from below simple code of Learned from johan godinho
    results = executor.map(downloadFile, l1, l2)# one element from l1 and one from l2 will go to downloadFile() and run
    for r in results:
      print(r)

Day 99- Solution of drink water

Day 100-Conclusion- do more projects on python, search for more inbuilt modules and libraries and work on them.